{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}

    <div class="container-login">
        <form method="post" class="form-login">{% csrf_token %}
            {{ form|bootstrap }}
            <button style="width: 180px;" class="btn btn-dark btn-style" type="submit">
                Entrar
            </button>
        </form>
       
    </div>

    <a style="margin-top: 30px; margin-left: 260px;" class="btn btn-dark" href="{% url 'signup' %}">
        CADASTRAR-SE
    </a>

{% endblock %}
