{% extends 'base.html' %}

{% block main %}

<div style="margin-top: 20px;">
    <a style="margin-right: 20px;" class="btn btn-dark" href="{% url 'home' %}">VOLTAR</a>

    <a class="btn btn-dark" href="{% url 'logout' %}">SAIR
    </a>
</div>

    {% for cliente in object_list %}
    <li class="div-container">

        {{ cliente }}
        <a style="margin-left: 20px;" class="btn btn-dark" href="{% url 'update_cliente' cliente.id %}">
            Editar
        </a>

    </li>
    {% endfor %}

{% endblock %}