{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block main %}

<div class="margin-top">
    <a class="btn btn-dark margin-right" href="{% url 'logout' %}">
        SAIR
    </a>
    {% if usuario.funcionario.empresa %}
        <a class="btn btn-dark"
            href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">
            Editar Empresa
        </a>
    {% else %}
        <a class="btn btn-dark" href="{% url 'create_empresa' %}">
            Criar Empresa
        </a>
    {% endif %}
</div>

<div class="row">
    <div class="col">

        <h4 class="div-container"> <i class="fas fa-user-tie"></i> ADMIN: {{ usuario.funcionario.nome }} </h4>

    
            <h4 class="div-container">
                <i class="fas fa-building"></i>  EMPRESA: {{ usuario.funcionario.empresa.nome }}
            </h4>
       

        <h6 style="text-transform: uppercase;">
            <li class="div-container">
                Gerenciar Funcionarios
                <a style="margin-left: 20px;" class="btn btn-dark" href="{% url 'list_funcionarios' %}">
                    GERENCIAR
                </a>
            </li>
        </h6>
        <h6 style="text-transform: uppercase;">
            <li class="div-container">
                Gerenciar Departamentos
                <a style="margin-left: 20px;" class="btn btn-dark" href="{% url 'list_departamentos' %}">
                    GERENCIAR
                </a>
            </li>
        </h6>
        <h6 style="text-transform: uppercase;">
            <li class="div-container">
                Gerenciar Banco de Horas
                <a style="margin-left: 20px;" class="btn btn-dark" href="{% url 'list_hora_extra' %}">
                    GERENCIAR
                </a>
            </li>
        </h6>
        <h6 style="text-transform: uppercase;">
            <li class="div-container">
                Gerenciar Clientes
                <a style="margin-left: 20px;" class="btn btn-dark" href="{% url 'list_clientes' %}">
                    GERENCIAR
                </a>
            </li>
        </h6>
    </div>

</div>

{% endblock %}