{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}

    <div style="margin-top: 20px;">
        <a style="margin-right: 20px;" class="btn btn-dark" href="{% url 'home' %}">VOLTAR</a>

        <a class="btn btn-dark" 
            href="{% url 'logout' %}">SAIR
        </a>
    </div>
    

    <form method="POST"> {% csrf_token %}

        {{ form|bootstrap }}

        <button class="btn btn-dark btn-style" type="submit"> Salvar</button>
    </form>

    <div class="container div-container">
        <h4>Documentos</h4>
        {% for documento in object.documento_set.all %}
            <ul>
                <li>
                    <a href="{{ documento.arquivo.url }} "> {{ documento.nome }}  </a>
                </li>
            </ul>
    
         {% endfor %}

        {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn btn-dark">
            Adicionar documento
        </a>
        {% endif %}
    </div>
       

    <div class="container div-container">
        <h4>Banco de Horas</h4>
        {% for registro_hora in object.registrohoraextra_set.all %}
            <ul>
                <li>
                    {{ registro_hora.motivo }} | {{ registro_hora.hora }} H
                    <a style="margin-left: 20px;"  class="btn btn-dark" 
                    href="{% url 'update_hora_extra' registro_hora.id %}">Editar Horas</a>
                </li>
            </ul>
    
         {% endfor %}
    </div>

    <div class="container div-container">
        <h4>Total de horas extras: {{ object.total_horas_extra }} </h4>
    </div>

      

{% endblock %}