{% extends 'base.html' %}

{% block main %}

<div class="margin-top">
    <a class="btn btn-dark margin-right" href="{% url 'home' %}">VOLTAR</a>

    <a class="btn btn-dark" href="{% url 'logout' %}">SAIR
    </a>
</div>

<h3 class="div-container text-h3">Listagem de Funcionarios</h3>

{% for funcionario in object_list %}
<li class="div-container">

    {{ funcionario }}

    <a class="change-class edit" href="{% url 'update_funcionario' funcionario.id %}">
        <i class="fas fa-user-edit fa-lg"></i> Editar
    </a>
    <a class="change-class danger" href="{% url 'delete_funcionario' funcionario.id %}">
        <i class="fas fa-trash fa-lg"></i> Deletar
    </a>

</li>
{% endfor %}

<a href="{% url 'creat_funcionario' %}" class="btn btn-dark">Cadastrar Funcionario</a>

{% endblock %}