{% extends 'base.html' %}

{% block main %}

<div style="margin-top: 20px;">
    <a style="margin-right: 20px;" class="btn btn-dark" href="{% url 'home' %}">VOLTAR</a>

    <a class="btn btn-dark" href="{% url 'logout' %}">SAIR
    </a>
</div>

<h3 class="div-container text-h3">
    Banco de Horas
</h3>

{% for registro_re in object_list %}

<li class="div-container">
    {{ registro_re }} {{ registro_re.hora }} {{ registro_re.funcionario.nome }}
    <a class="change-class edit"href="{% url 'update_hora_extra' registro_re.id %}">
        <i class="fas fa-user-edit fa-lg"></i> Editar
    </a>
    <a class="change-class danger" href="{% url 'delete_hora_extra' registro_re.id %}">
        <i class="fas fa-trash fa-lg"></i>  Deletar
    </a>
</li>

{% endfor %}

{% if not object_list %}
<h4>Não existe registro de horas no banco de Dados</h4>
{% endif %}

<a href="{% url 'creat_hora_extra' %}" class="btn btn-dark">Cadastar Horas</a>

{% endblock %}