{% extends 'base.html' %}

{% block main %}

<div style="margin-top: 20px;">
    <a style="margin-right: 20px;" class="btn btn-dark" href="{% url 'home' %}">VOLTAR</a>

    <a class="btn btn-dark" href="{% url 'logout' %}">SAIR
    </a>
</div>

<h3 style="text-transform: uppercase;" class="div-container">Listagem de Departamentos</h3>

{% for departamento in object_list %}
<li class="div-container">
    {{ departamento }}
    <a  class="change-class edit" href="{% url 'update_departamento' departamento.id %}">
        <i class="fas fa-user-edit fa-lg"></i> Editar
    </a>
    <a class="change-class danger" href="{% url 'delete_departamento' departamento.id %}">
        <i class="fas fa-trash fa-lg"></i> Deletar
    </a>
</li>

{% endfor %}

<a style="margin-bottom: 30px;" href="{% url 'create_departamento' %}" class="btn btn-dark">
    Novo Departamento
</a>

{% endblock %}